
{% extends 'base.html.twig' %}
  {% block body %}
  <h3>  ici nous veront les details <br>
    <td><a href='' class="btn btn-danger"> accepter</a></td>
    <td><a href='/annonces' class="btn btn-info">retour</a></td>
  {% endblock %}
