
{% extends 'base.html.twig' %}
  {% block body %}
  <br>
  <h2 class="page-header">{{annonce.titreAnnonce}}</h2>
  <p>
    {{annonce.description}}
  </p>
    <a href='#' class="btn btn-danger"> accepter</a>
    <a href='/annonces' class="btn btn-info">retour à la liste</a>
    <a href='/annonces/editer/{id}' class="btn btn-default">modifier</a>


  {% endblock %}
