
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">WorkStudents</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/annonces">annonces <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/annonces/create">ajouter une annonce</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">categories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">demenagement</a>
              <a class="dropdown-item" href="#">cuisine</a>
              <a class="dropdown-item" href="#">aides aux devoirs</a>
              <a class="dropdown-item" href="#">babysittings</a>
            </div>
          </li>
        </ul>
      <ul class="navbar-nav  mr-auto">
        {% if is_granted('USER')%}
        <li><a href="/profile">{app.user.username}</a></li>
        <li><a href="/logout">deconnexion</a></li>
        {% else %}
        <li><a href="/login">connexion</a></li>
        <li><a href="/register">inscription</a></li>
        {% endif %}

      </ul>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          {% block body %}{% endblock %}
        </div>
      </div>


    </div><!-- /.container -->

  {% block javascripts %}{% endblock %}


  </body>
</html>
