{% extends 'base.html.twig' %}

{% block body %}
  <div class="container affiche">
      <h1><strong>W</strong>ork<strong>S</strong>tudents</h1>
  </div>

  <a href="/annonces" class="btn btn-success">continuer <span class='glyphicon glyphicon-arrow-left'></span></a>
{% endblock %}

{% block stylesheets %}
{% endblock %}
